:root,
[data-theme=light] {
    --border-color: #afafaf;
    --bg-color: #eeeeee;
    --bg-color-card: #FFF;

}

[data-theme=dark] {
    --text-color: var(--gray-50);
    --border-color: var(--gray-200);
    --bg-color: var(--gray-900);
    --bg-color-card: var(--gray-900);
    --icon-fill: transparent;
    --icon-stroke: var(--gray-300);
    --navbar-bg: var(--gray-900);
}

[data-theme=dark] .page-title .sidebar-toggle-btn {
    --icon-stroke: var(--gray-300);
}

.navbar .container {
    max-width: 100% !important;
}

.scroll-to-top.btn {
    top: 0 !important;
}


.page-head .page-head-content {
    border: 1px solid lightgrey !important;
    border-radius: .45rem !important;
    margin-block: 1rem !important;
    background-color: var(--bg-color-card);
}


.page-form {
    border-bottom: 1px solid var(--border-color);
}

.widget.links-widget-box {
    border: 1px solid var(--border-color);
}

.widget .widget-head {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.form-section .section-head,
.form-dashboard-section .section-head {
    background: var(--listview-color-bg);
    border-radius: .5rem;
    color: var(--listview-color);
}

.like-disabled-input {
    border: 1px solid var(--border-color);
}

/* .result .list-row-head {
    background: #daecff;
    border: 1px solid #1587ff;
    color: #0050a5 !important;
    font-weight: 600;
} */

.result .list-row-head {
    background: var(--listview-color-bg);
    border: 1px solid var(--listview-color);
    color: var(--listview-color) !important;
    font-weight: 600;
}

.layout-side-section {
    padding-inline: 0;

}

.list-sidebar.overlay-sidebar {
    background: var(--bg-color-card);
    padding: 1rem;
}


.result .list-row-head .level-item {
    color: var(--listview-color) !important;
    font-weight: 600;
}

.form-control {
    border: 1px solid var(--border-color) !important;
    background: transparent !important;
}

input[type=checkbox]:checked {
    background-color: var(--theme-primary-color-bg);
    --checkbox-gradient: linear-gradient(180deg, var(--theme-primary-color-bg) -124.51%, var(--theme-primary-color-bg) 100%);
}

input[type=checkbox].disabled-selected,
input[type=checkbox]:disabled:checked {
    background-color: var(--theme-primary-color-bg);
}

/* .grid-heading-row     background-color: var(--subtle-fg); */
/* sidebar */

.left-main-sidebar {
    background: #FFF;
    color: #6d6d6d;
    --icon-stroke: #000 !important;
    box-shadow: 0 0 2px #aaaaaa;
    --sidebar-icon-size: 1.5rem;
    position: relative;
}

.left-main-sidebar.separated {
    margin-top: 1rem;
    margin-left: 2rem;

}

.left-main-sidebar.dark {
    background: #171717;
    color: #FFF;
    --icon-stroke: #ffffff !important;
}

.left-main-sidebar.menu-theme {
    background-color: var(--sidebar-color);
    color: var(--sidebar-text-color);
    --sidebar-font-family: system-ui;
    --icon-stroke: #000 !important;
}

.left-main-sidebar .close-btn {
    top: 15px;
    right: -10px;
    position: absolute;
    padding: 0;
    border-radius: 2rem;
    padding: .5rem;
    border: none;
    box-shadow: 0 0 2px #000;
    background-color: #f3f3f3;
}


.left-main-sidebar .close-btn svg {
    height: 1.25rem;
    width: 1.25rem;
}

.pg-sidebar {
    width: 15rem;
    padding: 5rem 1rem;
    color: inherit;
}

.pg-sidebar {
    height: calc(100vh - 1rem);
    overflow-y: scroll;
}

.pg-sidebar::-webkit-scrollbar {
    display: none;
}


.pg-sidebar.collapsed {
    width: 4.3rem;
}

.pg-sidebar.collapsed .element-label,
.pg-sidebar.collapsed .element-label__wrapper {
    display: none;
}

.pg-sidebar.collapsed .pg-sidebar__nav-childs {
    padding-inline: 0;
}

.pg-sidebar__nav-wrapper {
    /* padding: .5rem;
    border-radius: .5rem; */
}

.left-main-sidebar.menu-theme .pg-sidebar__nav-element.active {
    background: var(--bg-color-hover);
}


.pg-sidebar__nav-wrapper:hover {
    cursor: pointer;
}

.pg-sidebar__nav-element:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.left-main-sidebar.dark .pg-sidebar__nav-element:hover {
    background: #232323;
}

.left-main-sidebar.menu-theme .pg-sidebar__nav-element:hover {
    background: var(--bg-color-hover);

}

.pg-sidebar__nav-childs {
    margin-bottom: .5rem;
    padding-left: 1.1rem;
}

.pg-sidebar__nav-childs .pg-sidebar__nav-wrapper {
    border-left: 1px solid;
}

.pg-sidebar__nav-element {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .25rem;
}

.pg-sidebar__nav-element .element-icon .icon {
    stroke: var(--sidebar-text-color);
    height: var(--sidebar-icon-size);
    width: var(--sidebar-icon-size);
}

.pg-sidebar__nav-element .element-label {
    font-size: var(--sidebar-font-size) !important;
    font-family: var(--sidebar-font-family) !important;
    font-weight: var(--sidebar-font-weight) !important;
}

.pg-sidebar__nav-wrapper .element-label__wrapper {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
}

.language-picker-label-image {
    width: 1.5rem;
    object-fit: contain;
}

.language-picker-option {
    cursor: pointer;
}

.language-picker-option img {
    width: 2rem;
}


#mobile-menu-btn {
    display: none;
}

.form-page .form-tabs-list {
    padding-block: .5rem;
}

#form-tabs .nav-item.show {
    border-radius: .5rem;
}

#form-tabs .nav-item.show:has(> .nav-link.active) {
    background-color: var(--sidebar-color);
    color: var(--sidebar-text-color);
}

#form-tabs .nav-item.show .nav-link {
    padding: 5px 0;
}

#form-tabs .nav-item.show .nav-link.active {
    color: var(--sidebar-text-color);
    border: none;
}

/* .left-main-sidebar {
    height: calc(100vh - 1rem);
    overflow-y: scroll;
} */

/* 
.left-main-sidebar::-webkit-scrollbar {
    display: none !important;
}

.pg-sidebar::-webkit-scrollbar {
    display: none !important;
} */

@media (max-width: 768px) {


    .search-bar {
        max-width: 200px;
    }

    .left-main-sidebar.separated {
        margin: 0;
    }

    .form-inline[role="search"] {
        display: none;
    }

    .language-picker-label-image {
        width: 1rem;
    }

    #mobile-menu-btn {
        display: block;
    }

    .left-main-sidebar {
        position: absolute;
        z-index: 10;
        left: -100%;
    }

    .left-main-sidebar.show-mobile {
        top: 0;
        bottom: 0;
        left: 0;
    }

    .left-main-sidebar.show-mobile .pg-sidebar {
        height: 100%;
    }

    .left-main-sidebar .pg-sidebar {
        padding: 2rem 1rem;
    }

}


@media (min-width: 576px) {
    .container.page-body {
        max-width: 490px !important;
    }
}

@media (min-width: 768px) {
    .container.page-body {
        max-width: 790px !important;
    }
}

@media (min-width: 992px) {
    .container.page-body {
        max-width: 1050px !important;
    }
}

@media (min-width: 1200px) {
    .container.page-body {
        max-width: 1240px !important;
    }
}